/* @charset "UTF-8"; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: white;
    min-height: 100vh;
    background-color: var(--violet);
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    padding: 2rem 1.25rem;
}

.logo {
    max-width: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 0 1.25rem;
}

.img-ilustracao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-ilustracao img {
    max-width: 100%;
}

.text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding-top: 1.25rem;
}

.text-content p {
    font-size: 1rem;
    text-align: center;
    padding: 1.25rem 0 2.5rem;
}

.register-button {
    background-color: white;
    color: var(--violet);
    border: none;
    border-radius: 1.875rem;
    width: 12.5rem;
    padding: 1.25rem;
    font-size: 1.1rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.register-button:hover, .social-icons > a:hover {
    background-color: var(--softMagenta);
    color: white;
    transition: 0.6s ease-in-out;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
}

.social-icons a {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.625rem 0.9375rem;
    margin: 0 0.3125rem;
    text-align: center;
}

@media (min-width: 480px) {
    .text-content h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    header {
        padding: 2.5rem;
    }

    .logo {
        max-width: 200px;
    }

    .content {
        padding: 0 2.5rem;
    }

    .text-content h1 {
        font-size: 2rem;
    }

    .text-content p {
        font-size: 1.2rem;
    }

    .register-button {
        width: 14.375rem;
        font-size: 1.3rem;
    }

    footer {
        padding: 2.5rem;
    }

    .social-icons a {
        padding: 1.25rem 1.5625rem;
        margin: 0 0.625rem;
    }

    .social-icons i {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 2.5rem 3.125rem;
    }

    .logo {
        max-width: 220px;
    }
    
    .content {
        padding: 0 3.125rem;
        flex-direction: row;
        align-items: center;
    }

    .text-content {
        padding-left: 2.5rem;
    }

    .text-content h1 {
        font-size: 2.3rem;
        text-align: left;
        padding-top: 2.5rem;
    }

    .text-content p {
        font-size: 1.3rem;
        text-align: left;
    }

    .register-button {
        width: 15.625rem;
        font-size: 1.5rem;
    }

    footer {
        padding: 3.125rem 0;
    }

    .social-icons a {
        padding: 1.25rem 1.25rem;
    }

    .social-icons i {
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    body {
        background-image: url('../images/bg-desktop.svg');
    }
    
    .content {
        padding: 0 3.125rem;
        flex-wrap: nowrap;
    }

    .img-ilustracao {
        flex: 2 1 auto;
    }

    .text-content {
        padding-left: 2.5rem;
        flex: 1 2 auto;
    }

    .text-content h1 {
        font-size: 1.9rem;
    }

    .text-content p {
        font-size: 1.2rem;
    }

    .register-button {
        font-size: 1.4rem;
    }

    footer {
        justify-content: flex-end;
        align-items: flex-end;
        padding: 2.5rem;
    }

    .social-icons a {
        padding: 1.25rem 1.25rem;
    }

    .social-icons i {
        font-size: 1.25rem;
    }
}

@media (min-width: 1440px) {
    .content {
        margin: auto;
        max-width: 1640px;
    }

    .img-ilustracao {
        max-width: 900px;
    }

    .img-ilustracao img {
        width: 100%;
    }
    
    .text-content h1 {
        font-size: 2.3rem;
    }

    .text-content p {
        font-size: 1.3rem;
    }

    footer {
        padding-bottom: 2.1875rem;
    }

    .social-icons i {
        font-size: 1.5625rem;
    }
}

@media (min-width: 2160px) {
    .logo {
        max-width: 100%;
    }
    
    .text-content h1 {
        font-size: 2.9rem;
        padding-top: 3.75rem;
    }

    .text-content p {
        font-size: 1.5rem;
        padding: 3.75rem 0 5rem;
    }

    .register-button {
        font-size: 1.6rem;
    }

    .social-icons a {
        padding: 1.5625rem 1.5625rem;
    }

    .social-icons i {
        font-size: 1.5625rem;
    }
}